<section class="container col-4 mx-auto">
    <div class="container col-10 mx-auto">
        <h1>Admin page</h1>
    </div>
    <div class="row">
        <div class="container mx-auto">
            <a href="/admin/posts"><button class="btn btn-primary" type="button">Posts</button></a>
            <a href="/admin/categories"><button class="btn btn-primary" type="button">Categories</button></a>
            <a href="/admin/post/add"><button class="btn btn-primary" type="button">Add new post</button></a>
        </div>
    </div>
</section>