{{#each post}}
    <div class="card">
        <div class="card-body">
            <h2>{{title}}</h3>
            <h5>{{content}}</h5>
            <hr>
            <h6>Published in {{date}}</h6>
        </div>
    </div>
{{/each}}