{{#if error}}
            <div class="alert alert-danger">
                {{error}}
            </div>
{{/if}}
        
<form action="/users/logged" method="POST">
    <section class="d-flex align-items-center justify-content-center">
        <div>
            <h1>Sing in</h1>
            <label for="name">Name:</label>
            <input type="text" id="username" name="username" placeholder="Type your username" class="form-control" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Type your password" class="form-control" required>
            <a><button type="submit" class="btn btn-primary mt-2">Login</button></a>
        </div>
    </section>

    </div>
</form>