<h1>Register now</h1>
<form action="/users/registred" method="POST">
    <div class="card">
        <div class="card-body">
            <label for="username">username:</label>
                <input type="text" name="username" class="form-control" required>
            <label for="password">password</label>
                <input type="password" name="password" class="form-control" required>
            <label for="repeat-pass">repeat password</label>
                <input type="password" name="repeat" class="form-control" required>   
            <button type="submit" class="btn btn-success mt-3">Register</button>  
        </div>
    </div>
</form>